
@import 'animation-slide.css';
@import 'animation-push.css';

@-webkit-keyframes slide-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}
@keyframes slide-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}


@-webkit-keyframes slide-right {
  0% { transform: translateX(0); }
  100% { transform: translateX(100%); }
}
@keyframes slide-right {
  0% { transform: translateX(0); }
  100% { transform: translateX(100%); }
}

@-webkit-keyframes slide-top {
  0% { transform: translateY(0); }
  100% { transform: translateY(-100%); }
}
@keyframes slide-top {
  0% { transform: translateY(0); }
  100% { transform: translateY(-100%); }
}

@-webkit-keyframes slide-bottom {
  0% { transform: translateY(0); }
  100% { transform: translateY(100%); }
}
@keyframes slide-bottom {
  0% { transform: translateY(0); }
  100% { transform: translateY(100%); }
}

/* ANIMATION */

