/* animation: push from left */
@-webkit-keyframes animate-push-left-10 {from {transform: translateX(0);} to {transform: translateX(10%);}}
@keyframes animate-push-left-10 {from {transform: translateX(0);} to {transform: translateX(10%);}}
@-webkit-keyframes animate-push-left-11 {from {transform: translateX(0);} to {transform: translateX(11%);}}
@keyframes animate-push-left-11 {from {transform: translateX(0);} to {transform: translateX(11%);}}
@-webkit-keyframes animate-push-left-12 {from {transform: translateX(0);} to {transform: translateX(12%);}}
@keyframes animate-push-left-12 {from {transform: translateX(0);} to {transform: translateX(12%);}}
@-webkit-keyframes animate-push-left-13 {from {transform: translateX(0);} to {transform: translateX(13%);}}
@keyframes animate-push-left-13 {from {transform: translateX(0);} to {transform: translateX(13%);}}
@-webkit-keyframes animate-push-left-14 {from {transform: translateX(0);} to {transform: translateX(14%);}}
@keyframes animate-push-left-14 {from {transform: translateX(0);} to {transform: translateX(14%);}}
@-webkit-keyframes animate-push-left-15 {from {transform: translateX(0);} to {transform: translateX(15%);}}
@keyframes animate-push-left-15 {from {transform: translateX(0);} to {transform: translateX(15%);}}
@-webkit-keyframes animate-push-left-16 {from {transform: translateX(0);} to {transform: translateX(16%);}}
@keyframes animate-push-left-16 {from {transform: translateX(0);} to {transform: translateX(16%);}}
@-webkit-keyframes animate-push-left-17 {from {transform: translateX(0);} to {transform: translateX(17%);}}
@keyframes animate-push-left-17 {from {transform: translateX(0);} to {transform: translateX(17%);}}
@-webkit-keyframes animate-push-left-18 {from {transform: translateX(0);} to {transform: translateX(18%);}}
@keyframes animate-push-left-18 {from {transform: translateX(0);} to {transform: translateX(18%);}}
@-webkit-keyframes animate-push-left-19 {from {transform: translateX(0);} to {transform: translateX(19%);}}
@keyframes animate-push-left-19 {from {transform: translateX(0);} to {transform: translateX(19%);}}
@-webkit-keyframes animate-push-left-20 {from {transform: translateX(0);} to {transform: translateX(20%);}}
@keyframes animate-push-left-20 {from {transform: translateX(0);} to {transform: translateX(20%);}}
@-webkit-keyframes animate-push-left-21 {from {transform: translateX(0);} to {transform: translateX(21%);}}
@keyframes animate-push-left-21 {from {transform: translateX(0);} to {transform: translateX(21%);}}
@-webkit-keyframes animate-push-left-22 {from {transform: translateX(0);} to {transform: translateX(22%);}}
@keyframes animate-push-left-22 {from {transform: translateX(0);} to {transform: translateX(22%);}}
@-webkit-keyframes animate-push-left-23 {from {transform: translateX(0);} to {transform: translateX(23%);}}
@keyframes animate-push-left-23 {from {transform: translateX(0);} to {transform: translateX(23%);}}
@-webkit-keyframes animate-push-left-24 {from {transform: translateX(0);} to {transform: translateX(24%);}}
@keyframes animate-push-left-24 {from {transform: translateX(0);} to {transform: translateX(24%);}}
@-webkit-keyframes animate-push-left-25 {from {transform: translateX(0);} to {transform: translateX(25%);}}
@keyframes animate-push-left-25 {from {transform: translateX(0);} to {transform: translateX(25%);}}
@-webkit-keyframes animate-push-left-26 {from {transform: translateX(0);} to {transform: translateX(26%);}}
@keyframes animate-push-left-26 {from {transform: translateX(0);} to {transform: translateX(26%);}}
@-webkit-keyframes animate-push-left-27 {from {transform: translateX(0);} to {transform: translateX(27%);}}
@keyframes animate-push-left-27 {from {transform: translateX(0);} to {transform: translateX(27%);}}
@-webkit-keyframes animate-push-left-28 {from {transform: translateX(0);} to {transform: translateX(28%);}}
@keyframes animate-push-left-28 {from {transform: translateX(0);} to {transform: translateX(28%);}}
@-webkit-keyframes animate-push-left-29 {from {transform: translateX(0);} to {transform: translateX(29%);}}
@keyframes animate-push-left-29 {from {transform: translateX(0);} to {transform: translateX(29%);}}
@-webkit-keyframes animate-push-left-30 {from {transform: translateX(0);} to {transform: translateX(30%);}}
@keyframes animate-push-left-30 {from {transform: translateX(0);} to {transform: translateX(30%);}}
@-webkit-keyframes animate-push-left-31 {from {transform: translateX(0);} to {transform: translateX(31%);}}
@keyframes animate-push-left-31 {from {transform: translateX(0);} to {transform: translateX(31%);}}
@-webkit-keyframes animate-push-left-32 {from {transform: translateX(0);} to {transform: translateX(32%);}}
@keyframes animate-push-left-32 {from {transform: translateX(0);} to {transform: translateX(32%);}}
@-webkit-keyframes animate-push-left-33 {from {transform: translateX(0);} to {transform: translateX(33%);}}
@keyframes animate-push-left-33 {from {transform: translateX(0);} to {transform: translateX(33%);}}
@-webkit-keyframes animate-push-left-34 {from {transform: translateX(0);} to {transform: translateX(34%);}}
@keyframes animate-push-left-34 {from {transform: translateX(0);} to {transform: translateX(34%);}}
@-webkit-keyframes animate-push-left-35 {from {transform: translateX(0);} to {transform: translateX(35%);}}
@keyframes animate-push-left-35 {from {transform: translateX(0);} to {transform: translateX(35%);}}
@-webkit-keyframes animate-push-left-36 {from {transform: translateX(0);} to {transform: translateX(36%);}}
@keyframes animate-push-left-36 {from {transform: translateX(0);} to {transform: translateX(36%);}}
@-webkit-keyframes animate-push-left-37 {from {transform: translateX(0);} to {transform: translateX(37%);}}
@keyframes animate-push-left-37 {from {transform: translateX(0);} to {transform: translateX(37%);}}
@-webkit-keyframes animate-push-left-38 {from {transform: translateX(0);} to {transform: translateX(38%);}}
@keyframes animate-push-left-38 {from {transform: translateX(0);} to {transform: translateX(38%);}}
@-webkit-keyframes animate-push-left-39 {from {transform: translateX(0);} to {transform: translateX(39%);}}
@keyframes animate-push-left-39 {from {transform: translateX(0);} to {transform: translateX(39%);}}
@-webkit-keyframes animate-push-left-40 {from {transform: translateX(0);} to {transform: translateX(40%);}}
@keyframes animate-push-left-40 {from {transform: translateX(0);} to {transform: translateX(40%);}}
@-webkit-keyframes animate-push-left-41 {from {transform: translateX(0);} to {transform: translateX(41%);}}
@keyframes animate-push-left-41 {from {transform: translateX(0);} to {transform: translateX(41%);}}
@-webkit-keyframes animate-push-left-42 {from {transform: translateX(0);} to {transform: translateX(42%);}}
@keyframes animate-push-left-42 {from {transform: translateX(0);} to {transform: translateX(42%);}}
@-webkit-keyframes animate-push-left-43 {from {transform: translateX(0);} to {transform: translateX(43%);}}
@keyframes animate-push-left-43 {from {transform: translateX(0);} to {transform: translateX(43%);}}
@-webkit-keyframes animate-push-left-44 {from {transform: translateX(0);} to {transform: translateX(44%);}}
@keyframes animate-push-left-44 {from {transform: translateX(0);} to {transform: translateX(44%);}}
@-webkit-keyframes animate-push-left-45 {from {transform: translateX(0);} to {transform: translateX(45%);}}
@keyframes animate-push-left-45 {from {transform: translateX(0);} to {transform: translateX(45%);}}
@-webkit-keyframes animate-push-left-46 {from {transform: translateX(0);} to {transform: translateX(46%);}}
@keyframes animate-push-left-46 {from {transform: translateX(0);} to {transform: translateX(46%);}}
@-webkit-keyframes animate-push-left-47 {from {transform: translateX(0);} to {transform: translateX(47%);}}
@keyframes animate-push-left-47 {from {transform: translateX(0);} to {transform: translateX(47%);}}
@-webkit-keyframes animate-push-left-48 {from {transform: translateX(0);} to {transform: translateX(48%);}}
@keyframes animate-push-left-48 {from {transform: translateX(0);} to {transform: translateX(48%);}}
@-webkit-keyframes animate-push-left-49 {from {transform: translateX(0);} to {transform: translateX(49%);}}
@keyframes animate-push-left-49 {from {transform: translateX(0);} to {transform: translateX(49%);}}
@-webkit-keyframes animate-push-left-50 {from {transform: translateX(0);} to {transform: translateX(50%);}}
@keyframes animate-push-left-50 {from {transform: translateX(0);} to {transform: translateX(50%);}}
@-webkit-keyframes animate-push-left-51 {from {transform: translateX(0);} to {transform: translateX(51%);}}
@keyframes animate-push-left-51 {from {transform: translateX(0);} to {transform: translateX(51%);}}
@-webkit-keyframes animate-push-left-52 {from {transform: translateX(0);} to {transform: translateX(52%);}}
@keyframes animate-push-left-52 {from {transform: translateX(0);} to {transform: translateX(52%);}}
@-webkit-keyframes animate-push-left-53 {from {transform: translateX(0);} to {transform: translateX(53%);}}
@keyframes animate-push-left-53 {from {transform: translateX(0);} to {transform: translateX(53%);}}
@-webkit-keyframes animate-push-left-54 {from {transform: translateX(0);} to {transform: translateX(54%);}}
@keyframes animate-push-left-54 {from {transform: translateX(0);} to {transform: translateX(54%);}}
@-webkit-keyframes animate-push-left-55 {from {transform: translateX(0);} to {transform: translateX(55%);}}
@keyframes animate-push-left-55 {from {transform: translateX(0);} to {transform: translateX(55%);}}
@-webkit-keyframes animate-push-left-56 {from {transform: translateX(0);} to {transform: translateX(56%);}}
@keyframes animate-push-left-56 {from {transform: translateX(0);} to {transform: translateX(56%);}}
@-webkit-keyframes animate-push-left-57 {from {transform: translateX(0);} to {transform: translateX(57%);}}
@keyframes animate-push-left-57 {from {transform: translateX(0);} to {transform: translateX(57%);}}
@-webkit-keyframes animate-push-left-58 {from {transform: translateX(0);} to {transform: translateX(58%);}}
@keyframes animate-push-left-58 {from {transform: translateX(0);} to {transform: translateX(58%);}}
@-webkit-keyframes animate-push-left-59 {from {transform: translateX(0);} to {transform: translateX(59%);}}
@keyframes animate-push-left-59 {from {transform: translateX(0);} to {transform: translateX(59%);}}
@-webkit-keyframes animate-push-left-60 {from {transform: translateX(0);} to {transform: translateX(60%);}}
@keyframes animate-push-left-60 {from {transform: translateX(0);} to {transform: translateX(60%);}}
@-webkit-keyframes animate-push-left-61 {from {transform: translateX(0);} to {transform: translateX(61%);}}
@keyframes animate-push-left-61 {from {transform: translateX(0);} to {transform: translateX(61%);}}
@-webkit-keyframes animate-push-left-62 {from {transform: translateX(0);} to {transform: translateX(62%);}}
@keyframes animate-push-left-62 {from {transform: translateX(0);} to {transform: translateX(62%);}}
@-webkit-keyframes animate-push-left-63 {from {transform: translateX(0);} to {transform: translateX(63%);}}
@keyframes animate-push-left-63 {from {transform: translateX(0);} to {transform: translateX(63%);}}
@-webkit-keyframes animate-push-left-64 {from {transform: translateX(0);} to {transform: translateX(64%);}}
@keyframes animate-push-left-64 {from {transform: translateX(0);} to {transform: translateX(64%);}}
@-webkit-keyframes animate-push-left-65 {from {transform: translateX(0);} to {transform: translateX(65%);}}
@keyframes animate-push-left-65 {from {transform: translateX(0);} to {transform: translateX(65%);}}
@-webkit-keyframes animate-push-left-66 {from {transform: translateX(0);} to {transform: translateX(66%);}}
@keyframes animate-push-left-66 {from {transform: translateX(0);} to {transform: translateX(66%);}}
@-webkit-keyframes animate-push-left-67 {from {transform: translateX(0);} to {transform: translateX(67%);}}
@keyframes animate-push-left-67 {from {transform: translateX(0);} to {transform: translateX(67%);}}
@-webkit-keyframes animate-push-left-68 {from {transform: translateX(0);} to {transform: translateX(68%);}}
@keyframes animate-push-left-68 {from {transform: translateX(0);} to {transform: translateX(68%);}}
@-webkit-keyframes animate-push-left-69 {from {transform: translateX(0);} to {transform: translateX(69%);}}
@keyframes animate-push-left-69 {from {transform: translateX(0);} to {transform: translateX(69%);}}
@-webkit-keyframes animate-push-left-70 {from {transform: translateX(0);} to {transform: translateX(70%);}}
@keyframes animate-push-left-70 {from {transform: translateX(0);} to {transform: translateX(70%);}}
@-webkit-keyframes animate-push-left-71 {from {transform: translateX(0);} to {transform: translateX(71%);}}
@keyframes animate-push-left-71 {from {transform: translateX(0);} to {transform: translateX(71%);}}
@-webkit-keyframes animate-push-left-72 {from {transform: translateX(0);} to {transform: translateX(72%);}}
@keyframes animate-push-left-72 {from {transform: translateX(0);} to {transform: translateX(72%);}}
@-webkit-keyframes animate-push-left-73 {from {transform: translateX(0);} to {transform: translateX(73%);}}
@keyframes animate-push-left-73 {from {transform: translateX(0);} to {transform: translateX(73%);}}
@-webkit-keyframes animate-push-left-74 {from {transform: translateX(0);} to {transform: translateX(74%);}}
@keyframes animate-push-left-74 {from {transform: translateX(0);} to {transform: translateX(74%);}}
@-webkit-keyframes animate-push-left-75 {from {transform: translateX(0);} to {transform: translateX(75%);}}
@keyframes animate-push-left-75 {from {transform: translateX(0);} to {transform: translateX(75%);}}
@-webkit-keyframes animate-push-left-76 {from {transform: translateX(0);} to {transform: translateX(76%);}}
@keyframes animate-push-left-76 {from {transform: translateX(0);} to {transform: translateX(76%);}}
@-webkit-keyframes animate-push-left-77 {from {transform: translateX(0);} to {transform: translateX(77%);}}
@keyframes animate-push-left-77 {from {transform: translateX(0);} to {transform: translateX(77%);}}
@-webkit-keyframes animate-push-left-78 {from {transform: translateX(0);} to {transform: translateX(78%);}}
@keyframes animate-push-left-78 {from {transform: translateX(0);} to {transform: translateX(78%);}}
@-webkit-keyframes animate-push-left-79 {from {transform: translateX(0);} to {transform: translateX(79%);}}
@keyframes animate-push-left-79 {from {transform: translateX(0);} to {transform: translateX(79%);}}
@-webkit-keyframes animate-push-left-80 {from {transform: translateX(0);} to {transform: translateX(80%);}}
@keyframes animate-push-left-80 {from {transform: translateX(0);} to {transform: translateX(80%);}}
@-webkit-keyframes animate-push-left-81 {from {transform: translateX(0);} to {transform: translateX(81%);}}
@keyframes animate-push-left-81 {from {transform: translateX(0);} to {transform: translateX(81%);}}
@-webkit-keyframes animate-push-left-82 {from {transform: translateX(0);} to {transform: translateX(82%);}}
@keyframes animate-push-left-82 {from {transform: translateX(0);} to {transform: translateX(82%);}}
@-webkit-keyframes animate-push-left-83 {from {transform: translateX(0);} to {transform: translateX(83%);}}
@keyframes animate-push-left-83 {from {transform: translateX(0);} to {transform: translateX(83%);}}
@-webkit-keyframes animate-push-left-84 {from {transform: translateX(0);} to {transform: translateX(84%);}}
@keyframes animate-push-left-84 {from {transform: translateX(0);} to {transform: translateX(84%);}}
@-webkit-keyframes animate-push-left-85 {from {transform: translateX(0);} to {transform: translateX(85%);}}
@keyframes animate-push-left-85 {from {transform: translateX(0);} to {transform: translateX(85%);}}
@-webkit-keyframes animate-push-left-86 {from {transform: translateX(0);} to {transform: translateX(86%);}}
@keyframes animate-push-left-86 {from {transform: translateX(0);} to {transform: translateX(86%);}}
@-webkit-keyframes animate-push-left-87 {from {transform: translateX(0);} to {transform: translateX(87%);}}
@keyframes animate-push-left-87 {from {transform: translateX(0);} to {transform: translateX(87%);}}
@-webkit-keyframes animate-push-left-88 {from {transform: translateX(0);} to {transform: translateX(88%);}}
@keyframes animate-push-left-88 {from {transform: translateX(0);} to {transform: translateX(88%);}}
@-webkit-keyframes animate-push-left-89 {from {transform: translateX(0);} to {transform: translateX(89%);}}
@keyframes animate-push-left-89 {from {transform: translateX(0);} to {transform: translateX(89%);}}
@-webkit-keyframes animate-push-left-90 {from {transform: translateX(0);} to {transform: translateX(90%);}}
@keyframes animate-push-left-90 {from {transform: translateX(0);} to {transform: translateX(90%);}}
@-webkit-keyframes animate-push-left-91 {from {transform: translateX(0);} to {transform: translateX(91%);}}
@keyframes animate-push-left-91 {from {transform: translateX(0);} to {transform: translateX(91%);}}
@-webkit-keyframes animate-push-left-92 {from {transform: translateX(0);} to {transform: translateX(92%);}}
@keyframes animate-push-left-92 {from {transform: translateX(0);} to {transform: translateX(92%);}}
@-webkit-keyframes animate-push-left-93 {from {transform: translateX(0);} to {transform: translateX(93%);}}
@keyframes animate-push-left-93 {from {transform: translateX(0);} to {transform: translateX(93%);}}
@-webkit-keyframes animate-push-left-94 {from {transform: translateX(0);} to {transform: translateX(94%);}}
@keyframes animate-push-left-94 {from {transform: translateX(0);} to {transform: translateX(94%);}}
@-webkit-keyframes animate-push-left-95 {from {transform: translateX(0);} to {transform: translateX(95%);}}
@keyframes animate-push-left-95 {from {transform: translateX(0);} to {transform: translateX(95%);}}
@-webkit-keyframes animate-push-left-96 {from {transform: translateX(0);} to {transform: translateX(96%);}}
@keyframes animate-push-left-96 {from {transform: translateX(0);} to {transform: translateX(96%);}}
@-webkit-keyframes animate-push-left-97 {from {transform: translateX(0);} to {transform: translateX(97%);}}
@keyframes animate-push-left-97 {from {transform: translateX(0);} to {transform: translateX(97%);}}
@-webkit-keyframes animate-push-left-98 {from {transform: translateX(0);} to {transform: translateX(98%);}}
@keyframes animate-push-left-98 {from {transform: translateX(0);} to {transform: translateX(98%);}}
@-webkit-keyframes animate-push-left-99 {from {transform: translateX(0);} to {transform: translateX(99%);}}
@keyframes animate-push-left-99 {from {transform: translateX(0);} to {transform: translateX(99%);}}
@-webkit-keyframes animate-push-left-100 {from {transform: translateX(0);} to {transform: translateX(100%);}}
@keyframes animate-push-left-100 {from {transform: translateX(0);} to {transform: translateX(100%);}}
/* animation: push from right */
@-webkit-keyframes animate-push-right-10 {from {transform: translateX(0);} to {transform: translateX(-10%);}}
@keyframes animate-push-right-10 {from {transform: translateX(0);} to {transform: translateX(-10%);}}
@-webkit-keyframes animate-push-right-11 {from {transform: translateX(0);} to {transform: translateX(-11%);}}
@keyframes animate-push-right-11 {from {transform: translateX(0);} to {transform: translateX(-11%);}}
@-webkit-keyframes animate-push-right-12 {from {transform: translateX(0);} to {transform: translateX(-12%);}}
@keyframes animate-push-right-12 {from {transform: translateX(0);} to {transform: translateX(-12%);}}
@-webkit-keyframes animate-push-right-13 {from {transform: translateX(0);} to {transform: translateX(-13%);}}
@keyframes animate-push-right-13 {from {transform: translateX(0);} to {transform: translateX(-13%);}}
@-webkit-keyframes animate-push-right-14 {from {transform: translateX(0);} to {transform: translateX(-14%);}}
@keyframes animate-push-right-14 {from {transform: translateX(0);} to {transform: translateX(-14%);}}
@-webkit-keyframes animate-push-right-15 {from {transform: translateX(0);} to {transform: translateX(-15%);}}
@keyframes animate-push-right-15 {from {transform: translateX(0);} to {transform: translateX(-15%);}}
@-webkit-keyframes animate-push-right-16 {from {transform: translateX(0);} to {transform: translateX(-16%);}}
@keyframes animate-push-right-16 {from {transform: translateX(0);} to {transform: translateX(-16%);}}
@-webkit-keyframes animate-push-right-17 {from {transform: translateX(0);} to {transform: translateX(-17%);}}
@keyframes animate-push-right-17 {from {transform: translateX(0);} to {transform: translateX(-17%);}}
@-webkit-keyframes animate-push-right-18 {from {transform: translateX(0);} to {transform: translateX(-18%);}}
@keyframes animate-push-right-18 {from {transform: translateX(0);} to {transform: translateX(-18%);}}
@-webkit-keyframes animate-push-right-19 {from {transform: translateX(0);} to {transform: translateX(-19%);}}
@keyframes animate-push-right-19 {from {transform: translateX(0);} to {transform: translateX(-19%);}}
@-webkit-keyframes animate-push-right-20 {from {transform: translateX(0);} to {transform: translateX(-20%);}}
@keyframes animate-push-right-20 {from {transform: translateX(0);} to {transform: translateX(-20%);}}
@-webkit-keyframes animate-push-right-21 {from {transform: translateX(0);} to {transform: translateX(-21%);}}
@keyframes animate-push-right-21 {from {transform: translateX(0);} to {transform: translateX(-21%);}}
@-webkit-keyframes animate-push-right-22 {from {transform: translateX(0);} to {transform: translateX(-22%);}}
@keyframes animate-push-right-22 {from {transform: translateX(0);} to {transform: translateX(-22%);}}
@-webkit-keyframes animate-push-right-23 {from {transform: translateX(0);} to {transform: translateX(-23%);}}
@keyframes animate-push-right-23 {from {transform: translateX(0);} to {transform: translateX(-23%);}}
@-webkit-keyframes animate-push-right-24 {from {transform: translateX(0);} to {transform: translateX(-24%);}}
@keyframes animate-push-right-24 {from {transform: translateX(0);} to {transform: translateX(-24%);}}
@-webkit-keyframes animate-push-right-25 {from {transform: translateX(0);} to {transform: translateX(-25%);}}
@keyframes animate-push-right-25 {from {transform: translateX(0);} to {transform: translateX(-25%);}}
@-webkit-keyframes animate-push-right-26 {from {transform: translateX(0);} to {transform: translateX(-26%);}}
@keyframes animate-push-right-26 {from {transform: translateX(0);} to {transform: translateX(-26%);}}
@-webkit-keyframes animate-push-right-27 {from {transform: translateX(0);} to {transform: translateX(-27%);}}
@keyframes animate-push-right-27 {from {transform: translateX(0);} to {transform: translateX(-27%);}}
@-webkit-keyframes animate-push-right-28 {from {transform: translateX(0);} to {transform: translateX(-28%);}}
@keyframes animate-push-right-28 {from {transform: translateX(0);} to {transform: translateX(-28%);}}
@-webkit-keyframes animate-push-right-29 {from {transform: translateX(0);} to {transform: translateX(-29%);}}
@keyframes animate-push-right-29 {from {transform: translateX(0);} to {transform: translateX(-29%);}}
@-webkit-keyframes animate-push-right-30 {from {transform: translateX(0);} to {transform: translateX(-30%);}}
@keyframes animate-push-right-30 {from {transform: translateX(0);} to {transform: translateX(-30%);}}
@-webkit-keyframes animate-push-right-31 {from {transform: translateX(0);} to {transform: translateX(-31%);}}
@keyframes animate-push-right-31 {from {transform: translateX(0);} to {transform: translateX(-31%);}}
@-webkit-keyframes animate-push-right-32 {from {transform: translateX(0);} to {transform: translateX(-32%);}}
@keyframes animate-push-right-32 {from {transform: translateX(0);} to {transform: translateX(-32%);}}
@-webkit-keyframes animate-push-right-33 {from {transform: translateX(0);} to {transform: translateX(-33%);}}
@keyframes animate-push-right-33 {from {transform: translateX(0);} to {transform: translateX(-33%);}}
@-webkit-keyframes animate-push-right-34 {from {transform: translateX(0);} to {transform: translateX(-34%);}}
@keyframes animate-push-right-34 {from {transform: translateX(0);} to {transform: translateX(-34%);}}
@-webkit-keyframes animate-push-right-35 {from {transform: translateX(0);} to {transform: translateX(-35%);}}
@keyframes animate-push-right-35 {from {transform: translateX(0);} to {transform: translateX(-35%);}}
@-webkit-keyframes animate-push-right-36 {from {transform: translateX(0);} to {transform: translateX(-36%);}}
@keyframes animate-push-right-36 {from {transform: translateX(0);} to {transform: translateX(-36%);}}
@-webkit-keyframes animate-push-right-37 {from {transform: translateX(0);} to {transform: translateX(-37%);}}
@keyframes animate-push-right-37 {from {transform: translateX(0);} to {transform: translateX(-37%);}}
@-webkit-keyframes animate-push-right-38 {from {transform: translateX(0);} to {transform: translateX(-38%);}}
@keyframes animate-push-right-38 {from {transform: translateX(0);} to {transform: translateX(-38%);}}
@-webkit-keyframes animate-push-right-39 {from {transform: translateX(0);} to {transform: translateX(-39%);}}
@keyframes animate-push-right-39 {from {transform: translateX(0);} to {transform: translateX(-39%);}}
@-webkit-keyframes animate-push-right-40 {from {transform: translateX(0);} to {transform: translateX(-40%);}}
@keyframes animate-push-right-40 {from {transform: translateX(0);} to {transform: translateX(-40%);}}
@-webkit-keyframes animate-push-right-41 {from {transform: translateX(0);} to {transform: translateX(-41%);}}
@keyframes animate-push-right-41 {from {transform: translateX(0);} to {transform: translateX(-41%);}}
@-webkit-keyframes animate-push-right-42 {from {transform: translateX(0);} to {transform: translateX(-42%);}}
@keyframes animate-push-right-42 {from {transform: translateX(0);} to {transform: translateX(-42%);}}
@-webkit-keyframes animate-push-right-43 {from {transform: translateX(0);} to {transform: translateX(-43%);}}
@keyframes animate-push-right-43 {from {transform: translateX(0);} to {transform: translateX(-43%);}}
@-webkit-keyframes animate-push-right-44 {from {transform: translateX(0);} to {transform: translateX(-44%);}}
@keyframes animate-push-right-44 {from {transform: translateX(0);} to {transform: translateX(-44%);}}
@-webkit-keyframes animate-push-right-45 {from {transform: translateX(0);} to {transform: translateX(-45%);}}
@keyframes animate-push-right-45 {from {transform: translateX(0);} to {transform: translateX(-45%);}}
@-webkit-keyframes animate-push-right-46 {from {transform: translateX(0);} to {transform: translateX(-46%);}}
@keyframes animate-push-right-46 {from {transform: translateX(0);} to {transform: translateX(-46%);}}
@-webkit-keyframes animate-push-right-47 {from {transform: translateX(0);} to {transform: translateX(-47%);}}
@keyframes animate-push-right-47 {from {transform: translateX(0);} to {transform: translateX(-47%);}}
@-webkit-keyframes animate-push-right-48 {from {transform: translateX(0);} to {transform: translateX(-48%);}}
@keyframes animate-push-right-48 {from {transform: translateX(0);} to {transform: translateX(-48%);}}
@-webkit-keyframes animate-push-right-49 {from {transform: translateX(0);} to {transform: translateX(-49%);}}
@keyframes animate-push-right-49 {from {transform: translateX(0);} to {transform: translateX(-49%);}}
@-webkit-keyframes animate-push-right-50 {from {transform: translateX(0);} to {transform: translateX(-50%);}}
@keyframes animate-push-right-50 {from {transform: translateX(0);} to {transform: translateX(-50%);}}
@-webkit-keyframes animate-push-right-51 {from {transform: translateX(0);} to {transform: translateX(-51%);}}
@keyframes animate-push-right-51 {from {transform: translateX(0);} to {transform: translateX(-51%);}}
@-webkit-keyframes animate-push-right-52 {from {transform: translateX(0);} to {transform: translateX(-52%);}}
@keyframes animate-push-right-52 {from {transform: translateX(0);} to {transform: translateX(-52%);}}
@-webkit-keyframes animate-push-right-53 {from {transform: translateX(0);} to {transform: translateX(-53%);}}
@keyframes animate-push-right-53 {from {transform: translateX(0);} to {transform: translateX(-53%);}}
@-webkit-keyframes animate-push-right-54 {from {transform: translateX(0);} to {transform: translateX(-54%);}}
@keyframes animate-push-right-54 {from {transform: translateX(0);} to {transform: translateX(-54%);}}
@-webkit-keyframes animate-push-right-55 {from {transform: translateX(0);} to {transform: translateX(-55%);}}
@keyframes animate-push-right-55 {from {transform: translateX(0);} to {transform: translateX(-55%);}}
@-webkit-keyframes animate-push-right-56 {from {transform: translateX(0);} to {transform: translateX(-56%);}}
@keyframes animate-push-right-56 {from {transform: translateX(0);} to {transform: translateX(-56%);}}
@-webkit-keyframes animate-push-right-57 {from {transform: translateX(0);} to {transform: translateX(-57%);}}
@keyframes animate-push-right-57 {from {transform: translateX(0);} to {transform: translateX(-57%);}}
@-webkit-keyframes animate-push-right-58 {from {transform: translateX(0);} to {transform: translateX(-58%);}}
@keyframes animate-push-right-58 {from {transform: translateX(0);} to {transform: translateX(-58%);}}
@-webkit-keyframes animate-push-right-59 {from {transform: translateX(0);} to {transform: translateX(-59%);}}
@keyframes animate-push-right-59 {from {transform: translateX(0);} to {transform: translateX(-59%);}}
@-webkit-keyframes animate-push-right-60 {from {transform: translateX(0);} to {transform: translateX(-60%);}}
@keyframes animate-push-right-60 {from {transform: translateX(0);} to {transform: translateX(-60%);}}
@-webkit-keyframes animate-push-right-61 {from {transform: translateX(0);} to {transform: translateX(-61%);}}
@keyframes animate-push-right-61 {from {transform: translateX(0);} to {transform: translateX(-61%);}}
@-webkit-keyframes animate-push-right-62 {from {transform: translateX(0);} to {transform: translateX(-62%);}}
@keyframes animate-push-right-62 {from {transform: translateX(0);} to {transform: translateX(-62%);}}
@-webkit-keyframes animate-push-right-63 {from {transform: translateX(0);} to {transform: translateX(-63%);}}
@keyframes animate-push-right-63 {from {transform: translateX(0);} to {transform: translateX(-63%);}}
@-webkit-keyframes animate-push-right-64 {from {transform: translateX(0);} to {transform: translateX(-64%);}}
@keyframes animate-push-right-64 {from {transform: translateX(0);} to {transform: translateX(-64%);}}
@-webkit-keyframes animate-push-right-65 {from {transform: translateX(0);} to {transform: translateX(-65%);}}
@keyframes animate-push-right-65 {from {transform: translateX(0);} to {transform: translateX(-65%);}}
@-webkit-keyframes animate-push-right-66 {from {transform: translateX(0);} to {transform: translateX(-66%);}}
@keyframes animate-push-right-66 {from {transform: translateX(0);} to {transform: translateX(-66%);}}
@-webkit-keyframes animate-push-right-67 {from {transform: translateX(0);} to {transform: translateX(-67%);}}
@keyframes animate-push-right-67 {from {transform: translateX(0);} to {transform: translateX(-67%);}}
@-webkit-keyframes animate-push-right-68 {from {transform: translateX(0);} to {transform: translateX(-68%);}}
@keyframes animate-push-right-68 {from {transform: translateX(0);} to {transform: translateX(-68%);}}
@-webkit-keyframes animate-push-right-69 {from {transform: translateX(0);} to {transform: translateX(-69%);}}
@keyframes animate-push-right-69 {from {transform: translateX(0);} to {transform: translateX(-69%);}}
@-webkit-keyframes animate-push-right-70 {from {transform: translateX(0);} to {transform: translateX(-70%);}}
@keyframes animate-push-right-70 {from {transform: translateX(0);} to {transform: translateX(-70%);}}
@-webkit-keyframes animate-push-right-71 {from {transform: translateX(0);} to {transform: translateX(-71%);}}
@keyframes animate-push-right-71 {from {transform: translateX(0);} to {transform: translateX(-71%);}}
@-webkit-keyframes animate-push-right-72 {from {transform: translateX(0);} to {transform: translateX(-72%);}}
@keyframes animate-push-right-72 {from {transform: translateX(0);} to {transform: translateX(-72%);}}
@-webkit-keyframes animate-push-right-73 {from {transform: translateX(0);} to {transform: translateX(-73%);}}
@keyframes animate-push-right-73 {from {transform: translateX(0);} to {transform: translateX(-73%);}}
@-webkit-keyframes animate-push-right-74 {from {transform: translateX(0);} to {transform: translateX(-74%);}}
@keyframes animate-push-right-74 {from {transform: translateX(0);} to {transform: translateX(-74%);}}
@-webkit-keyframes animate-push-right-75 {from {transform: translateX(0);} to {transform: translateX(-75%);}}
@keyframes animate-push-right-75 {from {transform: translateX(0);} to {transform: translateX(-75%);}}
@-webkit-keyframes animate-push-right-76 {from {transform: translateX(0);} to {transform: translateX(-76%);}}
@keyframes animate-push-right-76 {from {transform: translateX(0);} to {transform: translateX(-76%);}}
@-webkit-keyframes animate-push-right-77 {from {transform: translateX(0);} to {transform: translateX(-77%);}}
@keyframes animate-push-right-77 {from {transform: translateX(0);} to {transform: translateX(-77%);}}
@-webkit-keyframes animate-push-right-78 {from {transform: translateX(0);} to {transform: translateX(-78%);}}
@keyframes animate-push-right-78 {from {transform: translateX(0);} to {transform: translateX(-78%);}}
@-webkit-keyframes animate-push-right-79 {from {transform: translateX(0);} to {transform: translateX(-79%);}}
@keyframes animate-push-right-79 {from {transform: translateX(0);} to {transform: translateX(-79%);}}
@-webkit-keyframes animate-push-right-80 {from {transform: translateX(0);} to {transform: translateX(-80%);}}
@keyframes animate-push-right-80 {from {transform: translateX(0);} to {transform: translateX(-80%);}}
@-webkit-keyframes animate-push-right-81 {from {transform: translateX(0);} to {transform: translateX(-81%);}}
@keyframes animate-push-right-81 {from {transform: translateX(0);} to {transform: translateX(-81%);}}
@-webkit-keyframes animate-push-right-82 {from {transform: translateX(0);} to {transform: translateX(-82%);}}
@keyframes animate-push-right-82 {from {transform: translateX(0);} to {transform: translateX(-82%);}}
@-webkit-keyframes animate-push-right-83 {from {transform: translateX(0);} to {transform: translateX(-83%);}}
@keyframes animate-push-right-83 {from {transform: translateX(0);} to {transform: translateX(-83%);}}
@-webkit-keyframes animate-push-right-84 {from {transform: translateX(0);} to {transform: translateX(-84%);}}
@keyframes animate-push-right-84 {from {transform: translateX(0);} to {transform: translateX(-84%);}}
@-webkit-keyframes animate-push-right-85 {from {transform: translateX(0);} to {transform: translateX(-85%);}}
@keyframes animate-push-right-85 {from {transform: translateX(0);} to {transform: translateX(-85%);}}
@-webkit-keyframes animate-push-right-86 {from {transform: translateX(0);} to {transform: translateX(-86%);}}
@keyframes animate-push-right-86 {from {transform: translateX(0);} to {transform: translateX(-86%);}}
@-webkit-keyframes animate-push-right-87 {from {transform: translateX(0);} to {transform: translateX(-87%);}}
@keyframes animate-push-right-87 {from {transform: translateX(0);} to {transform: translateX(-87%);}}
@-webkit-keyframes animate-push-right-88 {from {transform: translateX(0);} to {transform: translateX(-88%);}}
@keyframes animate-push-right-88 {from {transform: translateX(0);} to {transform: translateX(-88%);}}
@-webkit-keyframes animate-push-right-89 {from {transform: translateX(0);} to {transform: translateX(-89%);}}
@keyframes animate-push-right-89 {from {transform: translateX(0);} to {transform: translateX(-89%);}}
@-webkit-keyframes animate-push-right-90 {from {transform: translateX(0);} to {transform: translateX(-90%);}}
@keyframes animate-push-right-90 {from {transform: translateX(0);} to {transform: translateX(-90%);}}
@-webkit-keyframes animate-push-right-91 {from {transform: translateX(0);} to {transform: translateX(-91%);}}
@keyframes animate-push-right-91 {from {transform: translateX(0);} to {transform: translateX(-91%);}}
@-webkit-keyframes animate-push-right-92 {from {transform: translateX(0);} to {transform: translateX(-92%);}}
@keyframes animate-push-right-92 {from {transform: translateX(0);} to {transform: translateX(-92%);}}
@-webkit-keyframes animate-push-right-93 {from {transform: translateX(0);} to {transform: translateX(-93%);}}
@keyframes animate-push-right-93 {from {transform: translateX(0);} to {transform: translateX(-93%);}}
@-webkit-keyframes animate-push-right-94 {from {transform: translateX(0);} to {transform: translateX(-94%);}}
@keyframes animate-push-right-94 {from {transform: translateX(0);} to {transform: translateX(-94%);}}
@-webkit-keyframes animate-push-right-95 {from {transform: translateX(0);} to {transform: translateX(-95%);}}
@keyframes animate-push-right-95 {from {transform: translateX(0);} to {transform: translateX(-95%);}}
@-webkit-keyframes animate-push-right-96 {from {transform: translateX(0);} to {transform: translateX(-96%);}}
@keyframes animate-push-right-96 {from {transform: translateX(0);} to {transform: translateX(-96%);}}
@-webkit-keyframes animate-push-right-97 {from {transform: translateX(0);} to {transform: translateX(-97%);}}
@keyframes animate-push-right-97 {from {transform: translateX(0);} to {transform: translateX(-97%);}}
@-webkit-keyframes animate-push-right-98 {from {transform: translateX(0);} to {transform: translateX(-98%);}}
@keyframes animate-push-right-98 {from {transform: translateX(0);} to {transform: translateX(-98%);}}
@-webkit-keyframes animate-push-right-99 {from {transform: translateX(0);} to {transform: translateX(-99%);}}
@keyframes animate-push-right-99 {from {transform: translateX(0);} to {transform: translateX(-99%);}}
@-webkit-keyframes animate-push-right-100 {from {transform: translateX(0);} to {transform: translateX(-100%);}}
@keyframes animate-push-right-100 {from {transform: translateX(0);} to {transform: translateX(-100%);}} 

