@import 'storm-page.css';
@import 'storm-navigator.css';

/* global page style */
html {
  height: 100%;
  width: 100%;
}

body {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  -webkit-text-size-adjust: 100%;
}

*:not(input):not(textarea):not(select) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input:active, input:focus,
textarea:active, textarea:focus,
select:active, select:focus {
  outline: none;
}
