/* global page style */
html {
  height: 100%;
  width: 100%;
}

body {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  -webkit-text-size-adjust: 100%;
}

*:not(input):not(textarea):not(select) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input:active, input:focus,
textarea:active, textarea:focus,
select:active, select:focus {
  outline: none;
}



/* sg style */
sg-page {
  display: block;    
}

sg-page .page {
  font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  background-color: #f9f9f9;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-x: visible;
  overflow-y: hidden;
  font-size: 17px;
  color: #1f1f21;
  -ms-overflow-style: none;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
sg-page .page::-webkit-scrollbar {
  display: none;
}

sg-page .page_header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 0;
  z-index: 100;
}

sg-page .page_header.hide {
  z-index: 1;
}

sg-page .page_footer {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 0;
  z-index: 100;
}

sg-page .page_footer.hide {
  z-index: 1;
}


sg-page .page_content {
  background-color: #f9f9f9;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 3;
}
sg-page .page_background {
  background-color: #f9f9f9;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 2;
}

sg-page .page_modal {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 500;
}

sg-page .page_modal.hide {
  height : 0;
  z-index: 1;
}

sg-page .page_overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width : 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 300;
}

sg-page .page_overlay.hide {
  z-index: 1;
}

sg-page .overlay_content {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width : 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

sg-page .overlay_background {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width : 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

sg-navigation .nav-frame {
  position: absolute;
  width : 100%;
  height: 100%;
  z-index: 10;
}